<div class="my-5 w-full">
    <div class="flex items-center justify-between w-full">
        <div class="flex items-center">
            <%= link_to article_path(article.slug) do %>
                <h2 class="text-xl text-slate-800 font-semibold hover:text-blue-600 hover:underline transition"><%= article.title %></h2>
            <% end %>

            <% unless article.tags.empty? %>
                <div class="flex space-x-2">
                    <p class="text-xs font-semibold text-slate-800 ml-4">tags: </p>
                    <%= render article.tags %>
                </div>
            <% end %>
        </div>

        <p class="text-xs font-slate-500">
            <%= article.created_at.to_fs(:long) %>
        </p>
    </div>
    <p class="text-slate-600">
        <%= truncate(article.description, length: 150) %>
    </p>
</div>
