<div class="flex pb-4 border-b border-slate-600 my-5">
    <div class="flex-1">
        <div class="flex items-end">
            <h2 class="text-2xl font-bold"><%= article.title %></h2>
            <p class="ml-2 text-sm text-slate-500">
                <%= time_ago_in_words(article.created_at) %> ago
            </p>
        </div>
        <p class="mt-2 text-sm"><%= article.description %></p>
    </div>
    <div class="flex-none flex space-x-2">
        <%= link_to "Show", article_path(article),
        class: "rounded bg-blue-600 text-white font-bold px-4 py-2 flex justify-center items-center hover:bg-blue-700 transition"%>
        <%= link_to "Edit", edit_article_path(article),
        class: "rounded bg-purple-600 text-white font-bold px-4 py-2 flex justify-center items-center hover:bg-purple-700 transition"%>
        <%= link_to "Delete", article_path(article), method: :delete,
        data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' },
        class: "rounded bg-red-600 text-white font-bold px-4 py-2 flex justify-center items-center hover:bg-red-700 transition"%>
    </div>
</div>
