<h2 class="text-4xl font-extrabold border-b border-slate-600 pb-4">
    Change Password
</h2>

<% if @user.default_password %>
    <div class="mt-4 bg-red-800/50 border border-red-900 rounded w-full py-8 flex justify-center items-center text-white font-bold">
        You're password is set to the default, please change it to a a new secure password!
    </div>
<% end %>

<%= form_with model: @user, url: admin_change_password_url do |f| %>
    <%= render "shared/errors", model: @user %>

    <div class="flex flex-col items-center space-y-4 mt-4">
        <%= f.label :password %>
        <%= f.password_field :password, class: "input-field w-max order-none" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "input-field w-max order-none" %>

        <%= f.submit "Save", class: "px-8 py-4 rounded-lg bg-none border border-red-500 hover:bg-red-500 hover:text-white transition cursor-pointer" %>
    </div>
<% end %>
