<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body class="antialiased bg-slate-800 text-white min-h-screen flex flex-col">
        <header class="p-4 bg-purple-900/50 flex-none">
            <h1 class="text-purple-500 text-3xl font-extrabold">Admin Panel</h1>
            <nav class="flex space-x-8">
                <%= link_to "Article Overview", admin_path, class: "font-medium hover:border-purple-500 border-slate-400 border-b transition" %>
                <%= link_to "Pages", admin_pages_path, class: "font-medium hover:border-purple-500 border-slate-400 border-b transition" %>
                <%= button_to "Logout", logout_path, method: :delete, class: "font-medium hover:border-purple-500 border-slate-400 border-b transition justify-self-end" %>
            </nav>
        </header>
        <main class="flex flex-1">
            <div class="w-full p-5">
                <%= render "shared/flash" %>
                <%= yield %>
            </div>
        </main>
    </body>
</html>
